* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.text-primary {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-secondary {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --green: #6AB187;
    --blue: #20948B;
    --orange: #DE7A22;
    --sand: #F4CC70;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

a {
    font-size: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0%;
    width: 100%;
    visibility: hidden;
    background: var(--blue);
}

header {
    background-color: var(--blue);
    margin: 0;
    padding: 0;
}

.menu.show {
    visibility: visible;
}

ul.menu-nav.show,
a.menu-logo.show {
    transform: translate3d(0, 0, 0);
}

.logo {
    margin: 0 auto;
    width: 70px;
    display: block;
}

.menu-btn {
    position: fixed;
    z-index: 100;
    right: 35px;
    top: 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-line {
    width: 28px;
    height: 3px;
    background: var(--white);
    border-radius: 30px;
    margin-bottom: 5px;
    transition: all 0.5s ease-out;
}

/* Styling nav items individual */

.menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-out;
    color: var(--white);
}

.nav-item .current {
    color: var(--sand);
    border-bottom: 2px solid var(--sand);
}

.nav-item:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.4s;
}

/* CLOSING STATE HAMBURGER*/

.menu-btn.close {
    transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
}

/* Styling nav items together */

.menu-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    /* puts it 100% over screen */
    transition: all 0.5s ease-out;
}

.menu-nav.show {
    transform: translate3d(0, 0, 0);
}

.nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.nav-item.show {
    transform: translate3d(0, 0, 0);
}

/* DROPDOWN */
.menu-nav-dropdown {
    position: relative;
    display: none;
    min-width: 300px;
    background-color: var(--blue);
}

.nav-dropdown-item {
    margin: 0 0 5% 0;
}

.nav-item:hover>.menu-nav-dropdown {
    display: block;
    list-style-type: none;
}

.nav-dropdown-link {
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid transparent;
    text-align: left;
}

.nav-dropdown-link:hover {
    border-bottom: 2px solid var(--sand);
}

.nav-item:nth-child(3)>.nav-link::after {
    content: '⯆';
    padding-left: 5%;
}

/* HERO IMAGE */

.hero-image {
    position: relative;
}

.hero {
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: var(--blue);
    background-color: var(--white);
    opacity: 0.7;
}

/* styling of landing page (Mobile)*/

.flex {
    display: flex;
    flex-direction: column;
}

.flex-normal {
    display: flex;
}

.flex-normal>p {
    margin: auto 5px;
}

.primary-grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: minmax(min-content, max-content);

    grid-template-areas:
        '. . .'
        'element-detail text .'
        '. . .'
    ;
}

.event-box {
    grid-area: event-box;
}

.primary-grid2 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas:
        'element-detail2 h2 .'
        '. event-box .'
        '. btn.'
    ;
}

.grid-h2 {
    grid-area: h2;
    margin-bottom: 5%;
}

.secondary-grid {
    margin-bottom: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 3fr 1fr 7fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'grid-image . line-one'
        'grid-image . line-two'
        'grid-image . line-three'
    ;
}

.secondary-grid>img {
    width: 100%;
    border-radius: 20%;
}

.grid-image {
    grid-area: grid-image;
}

.grid-line-one {
    grid-area: line-one;
    color: var(--blue);
}

.grid-line-two {
    grid-area: line-two;
}

.grid-line-three {
    grid-area: line-three;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifty50 {
    width: 39%;
    font-size: 1.2rem;
}

.element-detail {
    display: inline-block;
    grid-area: element-detail;
    background-color: var(--orange);
    width: 0.5rem;
    height: 6rem;
    margin: 35% 0 0 65%;
}

.element-detail2 {
    display: inline-block;
    grid-area: element-detail2;
    background-color: var(--orange);
    width: 0.5rem;
    height: 2.5rem;
    margin: 20% 0 0 65%;
}

.article-text {
    grid-area: text;
}

.article-text>p {
    margin-top: 5%;
}

.article-btn {
    padding: 2% 5%;
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    text-decoration: none;

}

.all-btn {
    padding: 2% 5%;
    margin: 0 auto;
    background-color: var(--orange);
    color: var(--white);
    grid-area: btn;
    width: 40%;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.fa-2x {
    color: var(--orange);
}


/* FOOTER MOBILE */

footer {
    margin-top: 5%;
    height: auto;
    color: var(--white);
    background-color: var(--blue);
    padding: 3% 10%;
    grid-template-areas:
        "name"
        "icons"
        "info"
    ;
}

.footer-elm {
    text-align: center;
}

.footer-icon {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    grid-area: icons;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
}

.name {
    grid-area: name;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-grid {
    display: grid;
    text-align: center;
}

.icon-size {
    font-size: 1.5rem;
}

.footer-hidden {
    display: none;
}

.footer-item {
    padding-top: 3%;
}

/* END OF FOOTER MOBILE */


@media screen and (min-width: 1024px) {
    html {
        font-size: 10px;
    }

    header {
        height: fit-content;
        text-align: center;
        background: var(--blue);
    }

    /* NAV styling */
    .menu-btn {
        display: none;
    }

    .menu {
        flex-direction: row;
        background: none;
        width: 100%;
        visibility: visible;
        height: fit-content;
    }

    .menu-nav {
        display: inline-block;
        text-align: right;
        list-style-type: none;
        margin: 0 15rem;
        transform: translate3d(0, 0, 0);
        height: 70vh;
    }

    .nav-link {
        text-decoration: none;
        color: var(--white);
        margin: 0 4vw;
        display: inline-block;
    }

    .nav-item {
        transform: translate3d(0, 0, 0);
        display: inline-block;
        position: relative;
    }

    .nav-link:hover {
        border-bottom: 2px solid var(--sand);
        color: var(--sand);
    }

    .nav-item:nth-child(1) {
        float: left;
    }

    .nav-item:nth-child(2) {
        float: left;
    }

    .logo {
        margin: 0 auto;
        border-radius: 10px;
        width: 50px;
        text-align: center;
        padding: 0;
    }

    /* DROPDOWN */
    .menu-nav-dropdown {
        min-width: 200px;
        position: absolute;
        background-color: var(--blue);
        top: 7vh;
    }

    .menu>.menu-nav>.nav-item:hover>.menu-nav-dropdown {
        display: block;
    }

    .nav-dropdown-item {
        display: block;
        list-style-type: none;
        margin: 0;
        padding-top: 5%;
        padding-left: 5%;
    }

    .nav-dropdown-item:last-child {
        padding-bottom: 3%;
    }

    .nav-dropdown-item>.nav-dropdown-link {
        display: block;
        color: var(--white);
        text-decoration: none;
    }

    .nav-dropdown-item>.nav-dropdown-link:hover {
        color: var(--sand);
    }
}


/* MEMBERSHIP+NEWSLETTER BOX */
.membership-box {
    margin-top: 8%;
    background-image: url(../images/membership_box.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    width: 100%;
    border-radius: 50px 0px;
}

.message-box {
    text-align: center;
    padding: 8%;
}

.membership-box p {
    color: var(--white);
    margin: 5% 0% 13% 0%;
}

.big-btn {
    padding: 2% 17%;
    margin: 0 auto;
    background-color: var(--orange);
    color: var(--white);
    width: 60%;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.newsletter-box {
    margin-top: 8%;
    background-image: url(../images/newsletter_box.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    width: 100%;
    border-radius: 40px 0px;
}

.newsletter-box p {
    margin: 0% 0% 3% 0%;
}

.newsletter-box a {
    background-color: var(--blue);
}

input[type=text],
select {
    width: 85%;
    padding: 6px 15px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}